body {
	
	
	background-image: url(../images/bck.jpg) ;
	background-repeat: repeat-x;
	
	
}


.info.z-div {
	
	height: 90px ;
	width: 80% ;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px dotted #c2d2dc;
	transition: all 1s;
	margin: 0 auto ;
	
}

.error.z-div{
	width: 500px;
	height: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d79595;
	transition: all 1s;
	margin: 0 auto ;
	opacity: 0 ;
}

.error.one.z-div {
	height: 35px;
	transition: all 1s;
	opacity:1 ;
}

.error.two.z-div {
	height: 70px;
	transition: all 1s;
	opacity:1 ;
}

.error.three.z-div {
	height: 105px;
	transition: all 1s;
	opacity:1 ;
}

.error.four.z-div{
	height: 140px;
	transition: all 1s;
	opacity:1 ;
}

.rounded.z-div {
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #555555;
}

.default.z-textbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 18px ;
	font-family: verdana;
	color:#555555;
	height: 30px ;
	-webkit-transition: border 1s; /* For Safari 3.1 to 6.0 */
	transition: border 1s;
}

.default.correctValue.z-textbox {
	box-shadow: 2px 1px 1px #49c318 !important;
	-webkit-transition: border 1s; /* For Safari 3.1 to 6.0 */
	transition: box-shadow 1s;
}

.default.wrongValue.z-textbox {
	box-shadow: 2px 1px 1px #ec0f0f !important;
	-webkit-transition: border 1s; /* For Safari 3.1 to 6.0 */
	transition: box-shadow 1s;
}

.validation.z-label{
	
	opacity: 1 ;
	font-style: italic ;
	color: #343434 ;
	-webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	transition: opacity 1s;
}

.register.z-label {
	
	font-size: 16px ;
	font-family: verdana ;
	color: #444444;
}

.header {
	
	display: block ;
	width: 100%;
	height:40px ;
	
}

.logo{
	display: block ;
	width: 350px;
	height: 40px ;
	float: left; 
}

.headerinfo{
	
	display: block;
	width: 450px ;
	height: 40px ;
	float: right ;
	text-align: right ;
	
}

.userInfo {
	position:absolute;
	top:40px;
	right:10px;
	color:#fefefe;
	z-index:2;
	width:auto;
	height: 40px; 
	color: #444444;
	font-family: Verdana ;
	font-size: 1.0em;
	
}

.userInfo .z-label {
	
	color: #eeeeee;
	
}

.log{
	
	position: absolute ;
	z-index: 1 ;
	display: block ;
	width:290px ;
	height: 70px ;
	left: 50px ;
	top:10px ;
	background-image: url(../images/logos.png)
}

.head {
	width: 100%;
	height:65px;
	background-image:url(../images/headbg.jpg) ;
	background-repeat: repeat-x;
	background-position: bottom;
	-moz-border-radius: 8px;
border-radius: 8px;
}

.socialMedia {
	width: 100% ;
	text-align: right ;
	padding: 0 10px 0 0;
	
}




.tiles{
	
	display: block;
	width: 100% ;
	height: 100% ;
}

.tilesRow{
	display: block ;
	width: 100% ;
}


.tilesInside {
	
	display: block ;
	width: 100%;
	height: 100% ;
	padding: 10px 10px 10px 10px ;
	
}

.tileButton{
	display: inline ;
	position: relative ;
	
	margin: 15px 15px 15px 15px ;
	width: 200px ;
	height: 150px ;
	
	background: none ;
	
	-webkit-box-shadow: 2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.listMenu {
	
	width: 100%;
	height: 30px ;
	padding-top: 2px;
	padding-right: 4px ;
	text-align: right ;
	/* background-image: url(../images/headbg.jpg) ; */
	background-color: #fff;
	background-repeat: repeat-x;
	opacity: 0.8 ;
}

.searchMenu{
	display: inline-table;
	width: 100% ;
	height: 75px ;
	background-image: url(../images/searchpanel.jpg) ;
	background-repeat: repeat-x ;
	
}

.z-vbox.search {
	
	display: inline-table;
	padding: 3px 6px 0px 3px ;
	background: none ;
}

.menu {
	position: absolute ;
	z-index:1 ;
	top:7px ;
	right:5px ;
	display: block ;
	width:auto;
	height: 46px ;
	border-radius: 11px;
	-moz-border-radius: 11px;
	
}

 .z-menubar-hor.mainMenu {
	/*background-image: url(../images/menubar2.jpg) ;
	background-repeat: repeat-x ;*/
	background: transparent ;
	/*border-radius: 6px;
	-moz-border-radius: 6px;*/
	
	border:none ;
}
 .mainMenu .z-menuitem .z-menuitem-btn{
	
	font-family:Verdana ;
	font-size: 1.2em;
	color: #565656;
	border:none ;
	
}

.z-menubar-hor.subMenu  {
	background: none ;
	background-image: url(../images/submenubar2.jpg) ;
	background-repeat: repeat-x ;
	height: 21px ;
	border-bottom:none ;
	width:auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.z-menubar-ver.subMenu  {
	background: none ;
	background-image: url(../images/submenubar2.jpg) ;
	background-repeat: repeat ;
	height: auto ;
	border-bottom:none ;
	width:180px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}



.z-caption-cnt{
	color: #444444;
}


.toRight{
	display: block ;	
	float:right ;
}

.toLeft {
	display:block ;
	float: left ;
}








.fbshare.z-button-os{
	
	width: 33px ;
	height: 32px ;
	background-image: url(../images/fbshare.png) ;
	background-repeat: no-repeat ;
	cursor: pointer ;
}

.fbshare.z-button-os:hover{
	
}

.deleteButton.z-button-os {
	border: none ;
	width: 20px ;
	height: 20px ;
	background-image: url(../images/minus20.png) ;
}

.deleteButton.z-button-os:hover{
	
}

.deleteButton-S.z-button-os {
	border: none ;
	width: 15px ;
	height: 15px ;
	background-image: url(../images/minus15.png) ;
}

.deleteButton-S.z-button-os:hover{
	
}


.addButton.z-button-os {
	border: none ;
	float: right ;
	width: 20px ;
	height: 20px ;
	background-image: url(../images/plus20.png) ;
}

.addButton.z-button-os:hover{
	
}





h1{
	
	font-family:Verdana;
	color:#454545;
	text-shadow: 2px 2px #aaaaaa;
	
}


 .subMenu .z-menuitem .z-menuitem-btn  {
	
	font-family:Verdana ;
	font-size: 1.0em;
	color: #eeeeee;
	
}

.z-panel-tl{
	background:none ;	
}

.z-panel-tr{
	background:none ;	
}

.z-panel-hl{
	background:none ;	
	background-color: #558C89 ;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.z-panelchildren {
	
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.z-panel-hr{
	background:none ;	
}

.z-panel-hm {
	
	background:none ;
}



.infoPanel .z-panel-hl{
	background:none ;	
	background-color: #ECECEA ;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
}
.infoPanel .z-panelchildren {
	
	
	
}


.infoPanel .z-caption {
	
	font-family: Verdana;
	
	color: #666666;
	
}

.infoPanel .z-caption .z-caption-l{
	
	font-size: 11px;
	
}

.z-caption {

	
	font-family: Verdana;
	
	color: #eeeeee;
	
	
}

.z-caption .z-caption-l{
	
	font-size: 1.4em;
	
}

.z-caption .z-caption-r{
	
	font-size: 1.4em;
}

.content{
	display: block ;
	width: 100% ;
	height: 500px ;
	background-color: #e3f3f3;
	
	
}


.wizardSteps {
	
	display: block ;
	width: 100% ;
	marging: 0 auto ;
	height: 100px ;
	display: table ;
	
}

.wizardSteps .wizardStep {
	display:table-cell ;
	width: 100px;
	height: 95px ;
	margin: 0 auto ;
	text-align: center ;
	vertical-align: middle ;
}

.wizardSteps .active {
	width: 50px ;
	height: 50px ;
	background-image: url(../images/active.png) ;
	margin: 0 auto ;
}

.wizardSteps .inactive {

	width: 50px ;
	height: 50px ;
	background-image: url(../images/inactive.png) ;
	margin: 0 auto ;
}

.categoriesMenu {
	
	display: block ;
	width: 25% ;
	height: 90%;
	float: left ;
	
}

.leftInfo {
	
	display: block ;
	width: 24% ;
	height: auto;
	float: left ;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #787878;
}

.leftMenu{
	display: block ;
	width: 15% ;
	height: 90%;
	float: left ;
	
}

.leftContent{
	display: block ;
	width: 35% ;
	height: 90%;
	float: left ;
	
}

.rightContent{
	display: block ;
	width: 75% ;
	height: 90%;
	float: right ;
	
}

.categoryDiv{
	width: auto ;
	height: auto ;
	overflow: hidden ;
	font-size: 1.2em;
}

.categoryDesc{
	display: block ;
	width: 100% ;
	font-size: 0.6em;
	
}

.categoryName{
	display: block ;
	font-weight: bold; 
	width: 100% ;
}

.otherContent{
	
	display: block ;
	width: 80% ;
	height: 90%;
	float: right ;
	
}

div .z-tree {
	border: none ;
	background: none;
}

.z-button .z-button-cm{
	background: none ;
	background-image: url(../images/button.jpg) ;
	background-repeat: repeat-x ;
	font-size: 1.1em;
	font-weight: bold ;
	color: #fefefe;
}


div.z-tree-header tr.z-treecols, div.z-tree-header tr.z-auxhead {
	height:20px;
	background: none ;
	/*background-image: url(../images/menubar2.jpg) ;
	background-repeat: repeat-x ;*/
	
	
}

div.z-treefooter-cnt, div.z-treecol-cnt {
	color: #777777;

	font-size: 1.0em;
	/*text-shadow: 2px 2px #676767;*/
	height:20px;
}

.z-tree-header.z-treecol{

}

.z-tree-header.z-treecols{
	;
}

.z-tree-header {
	
	
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.z-button{
	
	height: 32px ;
}

.z-label{
	color:#444444;
	
}

.asLink.z-label {
	
	color: #7a6194 ;
	text-decoration: underline ;
	cursor: pointer ;
}

.footer.z-label{
	
	font-size: 0.8em;
	font-style: italic ;
	
}

.auctionsList.z-grid {
	border: none ;
	padding: 0 0 0 5px ;
	background: none ;
}

.auctionsList.z-grid.z-column{
	border:none ;
}
.auctionsList.z-grid.z-grid-header.z-columns  {
	border: none ;
}

.z-groupbox-cnt{
	
	background: none;
	
	
}

tr.z-row td.z-row-inner{
	
	
	
}

.homeinfo{
	
	display: block ;
	width: 450px ;
	height: 400px;
	float: left ;
	
}

.loginform{
	
	display: block ;
	width: 350px ;
	height: 500px ;
	float: right ;
	
	
}

.additional{
	
	display: block ;
	width: 100% ;
	height: 120px ;

	
}

.footer{
	
	display: block ;
	width: 100%;
	height: 40px ;
	
	
}



.z-tree-ico.z-tree-root-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-root-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-tee-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-tee-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-last-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-last-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-firstspacer{
	
	display: none ;
}

.z-tree-line.z-tree-spacer{
	display: block;
	float: left ;
	width:10px;
	
}

.z-tree-line.z-tree-last {
	display: none;
	
}


.z-tree-line.z-tree-tee {
	display: none;
	
}

.z-tree-line.z-tree-vbar {
	display: block;
	float: left ;
	width:20px;
	
}

.z-tree-row.z-tree-row-seld{
	
	margin-left:5px ;
}

tr.z-tree-row td.z-tree-row-focus{
	
	background:none ;
}

div.z-treecell-cnt {
	white-space: nowrap;
}


.TFtable{
		width:100%; 
		border-collapse:collapse; 
		padding: 5px 5px 5px 5px ;
	}
	.TFtable td{ 
		padding:7px; border:none;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}
	
	
.galleryView {
	
	display: block ;
	position: relative ;
	float: left ;
	width: 600px ;
	height: 550px ;
	border: 1px solid #333333;
	
}	

.mainView {
	
	display:table-cell;
   vertical-align:middle;
	background-color: #555555;
	opacity: 0.8;
	width: 600px ;
	height: 450px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	padding: 0px 5px 0px 5px ;
	text-align:center ;
}

.thumbView {
	display: block ;
	width: 600px ;
	height: 100px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	background-color: #222222;
	opacity: 0.9;
}

.overflowThumbs{
	
	display: block ;
	
	height: 100px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	background-color: #222222;
	opacity: 0.9;
	
}

.galleryPrevious.z-button-os {
	
	position: absolute ;
	width: 90px ;
	height: 450px ;
	top: 1px;
	left:1px ;
	z-index: 1 ;
	opacity: 0.3 ;
	background-color: #555555;
	color: #cecece;
	font-size: 1.2em;
}

.galleryNext.z-button-os{
	
	position: absolute ;
	width: 90px ;
	height: 450px ;
	top: 1px;
	left:570px ;
	z-index: 1 ;
	opacity: 0.3 ;
	color: #cecece;
	font-size: 1.2em;
	background-color: #555555;
	
}

.galleryOverflow{
	display: table-cell ;
	vertical-align: middle ;
	text-align: center ;
	position: fixed ;
	top:1px;
	left:1px;
	width:100% ;
	height:100% ;
	opacity: 0.96;
	z-index:1 ;
	background-color: #222;
	overflow: hidden ;
	
}

.overflowClose.z-button-os {
	display: block ;
	position: absolute ;
	width: 17px ;
	height: 17px ;
	color: #ededed;
	background-color: #333;
	opacity: 0.9 ;
	top: 10px ;
	left:98% ;
	z-index:2 ;
}

.AuctionInfoPanel {
	
	display: block;
	position: relative ; 
	width: 350px ;
	float: right ;
	
	
}

.bidHistory{
	
	
	
}

.auctionDetails {
	
	
}

.divCaptionOuter{
	background-color: #d4c3cb ;
	width:100% ;
	height:auto ;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.pageFooter{
	
	width:100% ;
	height:30px ;
	background-color: #558C89;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}
.pageFooter .inner {
	width: 100% ;
	color: #ededed;
	text-align: center ;
	padding: 3px 15px 3px 15px ;
	
}

.inner .z-label {
	color: #ededed;
	padding: 0 15px 0 15px ;
	cursor: pointer ;
}



.divCaption {
	
	width: 95% ;
	height: 30px ;
	
	background-color: #eeeeee ;
	border: 1px solid #cacaca;
	padding: 3px 1% 3px 1% ;
	margin: 0 auto ;
	
	
}

.divCaption .z-label{
	
	font-size: 1.2em;
	color: #999;
}

.smallLabel.z-label {
	font-size: 0.8em ;
}



.strongLabel.z-label{
	font-size: 1.2em;
	font-weight: bold ;
}

.normalLabel.z-label{
	font-size: 0.8em;
	font-weight: bold ;
}

.breadCrumbItem.z-label {
	
	color: #3e1b61 ;
	cursor: pointer ;
	padding:0px 4px 0px 4px ;
	
	}
	

	
.breadCrumbItemActive.z-label {
	
	color: #3e1b61 ;
	cursor: pointer ;
	font-weight: bold ;
	padding:0px 4px 0px 4px ;
	
	}	

.mainImg.z-image{
	
	
	z-index: 1 ;
	
	margin: 0 auto ;
	
}
.mainImg {
	
}

.thumbImg.z-image {
	padding: 5px 5px 0px 5px;
}

.z-grid{
	border: none ;
}

.z-button-os {
	
	
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
	transition: background 2s ;
}


.z-button-os:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#fb9e25;
	transition: background 2s ;
}
.z-button-os:active {
	position:relative;
	top:1px;
}

.z-button-os-disd{
	

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbdab), color-stop(1, #f0e4d6));
	background:-moz-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-webkit-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-o-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-ms-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:linear-gradient(to bottom, #ccbdab 5%, #f0e4d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccbdab', endColorstr='#f0e4d6',GradientType=0);
	background-color:#ccbdab;
	transition: background-color 2s ;

}
.z-button-os-disd:hover{
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbdab), color-stop(1, #f0e4d6));
	background:-moz-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-webkit-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-o-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-ms-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:linear-gradient(to bottom, #ccbdab 5%, #f0e4d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccbdab', endColorstr='#f0e4d6',GradientType=0);
	background-color:#ccbdab;
	cursor: default ;
	transition: all 2s ;
}
.z-button-os-disd:active{
	
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccbdab), color-stop(1, #f0e4d6));
	background:-moz-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-webkit-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-o-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:-ms-linear-gradient(top, #ccbdab 5%, #f0e4d6 100%);
	background:linear-gradient(to bottom, #ccbdab 5%, #f0e4d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccbdab', endColorstr='#f0e4d6',GradientType=0);
	background-color:#ccbdab;
	
}

.z-button-os.button {
   border-top: 1px solid #e297f7;
   background: #b065d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#853e9c), to(#b065d6));
   background: -webkit-linear-gradient(top, #853e9c, #b065d6);
   background: -moz-linear-gradient(top, #853e9c, #b065d6);
   background: -ms-linear-gradient(top, #853e9c, #b065d6);
   background: -o-linear-gradient(top, #853e9c, #b065d6);
   padding: 9.5px 19px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 21px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.z-button-os.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.z-button-os.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
 
.z-button-os.green {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	transition: all 2s ;
}
.z-button-os.green:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
	transition: all 2s ;
}
.z-button-os.green:active {
	position:relative;
	top:1px;
}

 
.z-button-os.blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
	transition: all 2s ;
}
.z-button-os.blue:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
	transition: all 2s ;
}
.z-button-os.blue:active {
	position:relative;
	top:1px;
}


.z-window-modal {
	margin: 0 auto ;
	font-size: 13px ;
	font-family: verdana ;
	color: #fefefe;
}


.z-separator-ver-inner{
	color: #eeeeee;
}

div.z-grid-header tr.z-columns, div.z-grid-header tr.z-auxhead {
	background: none ;
	background-color: #fff ;
}

 tr.z-row-over {
	background-color:#eab17f !important;
}

.z-window-embedded-tl, .z-window-modal-tl, .z-window-highlighted-tl, .z-window-overlapped-tl, .z-window-popup-tl {
	background: none ;
	background-color: #558C89 ;
	
}

.z-window-embedded-tr, .z-window-modal-tr, .z-window-highlighted-tr, .z-window-overlapped-tr, .z-window-popup-tr{
	background: none ;
	background-color: #558C89 ;
	
}

.z-window-embedded-hl, .z-window-modal-hl, .z-window-highlighted-hl, .z-window-overlapped-hl, .z-window-popup-hl{
	background: none ;
	background-color: #558C89 ;
	
	
}

.z-window-embedded-hr, .z-window-modal-hr, .z-window-highlighted-hr, .z-window-overlapped-hr, .z-window-popup-hr {
	background: none ;
	background-color: #558C89 ;
	
}
.z-window-modal-header .z-window-modal-header-move{
	color:#fff;
	font-size: 14px;
	font-family: verdana;
}

.z-window-embedded-hm, .z-window-modal-hm, .z-window-highlighted-hm, .z-window-overlapped-hm, .z-window-popup-hm{
	background: none ;
	background-color: #558C89 ;
	
}

ul li {
	padding: 2px 0px 1px 0px ;
	font-family: verdana; 
	color: #454545;
	font-size: 11px ;
}