body {
	
	
	background-image: url(../images/bck.jpg) ;
	background-repeat: repeat-x;
	
	
}


.header {
	
	display: block ;
	width: 100%;
	height:140px ;
	
}

.logo{
	display: block ;
	width: 350px;
	height: 140px ;
	float: left; 
}

.headerinfo{
	
	display: block;
	width: 450px ;
	height: 140px ;
	float: right ;
	text-align: right ;
	
}

.userInfo {
	
	width:450px;
	height: 40px; 
	color: #444444;
	font-family: Verdana ;
	font-size: 1.0em;
	
}

.menu {
	
	display: block ;
	width:100%;
	height: 52px ;
	border-radius: 15px;
	
}

 .z-menubar-hor.mainMenu {
	background-image: url(../images/menubar.jpg) ;
	background-repeat: repeat-x ;
	
	
}
 .mainMenu .z-menuitem .z-menuitem-btn{
	
	font-family:Verdana ;
	font-size: 1.3em;
	color: #eeeeee;
	
}

.z-menubar-hor.subMenu  {
	background: none ;
	background-image: url(../images/submenubar.jpg) ;
	background-repeat: repeat-x ;
	height: 27px ;
	border-bottom:none ;
	
}
 .subMenu .z-menuitem .z-menuitem-btn  {
	
	font-family:Verdana ;
	font-size: 1.0em;
	color: #eeeeee;
	
}

.z-panel-tl{
	background:none ;	
}

.z-panel-tr{
	background:none ;	
}

.z-panel-hl{
	background:none ;	
	background-color: #A5738C ;
}

.z-panel-hr{
	background:none ;	
}

.z-panel-hm {
	
	background:none ;
}

.z-caption {

	
	font-family: Verdana;
	
	color: #eeeeee;
	
	
}

.z-caption .z-caption-l{
	
	font-size: 1.4em;
	
}

.z-caption .z-caption-r{
	
	font-size: 1.4em;
}

.content{
	display: block ;
	width: 100% ;
	height: 500px ;
	background-color: #e3f3f3;
	
	
}



.z-button .z-button-cm{
	background: none ;
	background-image: url(../images/button.jpg) ;
	background-repeat: repeat-x ;
	font-size: 1.1em;
	font-weight: bold ;
	color: #fefefe;
}


.z-button{
	
	height: 32px ;
}



.z-groupbox-cnt{
	
	background: none;
	
	
}

tr.z-row td.z-row-inner{
	
	background-color: #fff0e1 ;
	
}

.homeinfo{
	
	display: block ;
	width: 450px ;
	height: 400px;
	float: left ;
	
}

.loginform{
	
	display: block ;
	width: 350px ;
	height: 500px ;
	float: right ;
	
	
}

.additional{
	
	display: block ;
	width: 100% ;
	height: 120px ;

	
}

.footer{
	
	display: block ;
	width: 100%;
	height: 40px ;
	
	
}

