body {
	
	
	background-image: url(../images/bck.jpg) ;
	background-repeat: repeat-x;
	
	
}

.z-caption-cnt{
	color: #444444;
}


.toRight{
	display: block ;	
	float:right ;
}

.toLeft {
	display:block ;
	float: left ;
}

.header {
	
	display: block ;
	width: 100%;
	height:40px ;
	
}

.logo{
	display: block ;
	width: 350px;
	height: 40px ;
	float: left; 
}

.headerinfo{
	
	display: block;
	width: 450px ;
	height: 40px ;
	float: right ;
	text-align: right ;
	
}

.log{
	
	position: absolute ;
	z-index: 1 ;
	display: block ;
	width:290px ;
	height: 70px ;
	left: 50px ;
	top:10px ;
	background-image: url(../images/logos.png)
}

.head {
	width: 100%;
	height:65px;
	background-image:url(../images/headbg.jpg) ;
	background-repeat: repeat-x;
	background-position: bottom;
	-moz-border-radius: 8px;
border-radius: 8px;
}

.socialMedia {
	width: 100% ;
	text-align: right ;
	padding: 0 10px 0 0;
	
}

.fbshare.z-button-os{
	
	width: 33px ;
	height: 32px ;
	background-image: url(../images/fbshare.png) ;
	background-repeat: no-repeat ;
	cursor: pointer ;
}

.deleteButton.z-button-os {
	border: none ;
	width: 20px ;
	height: 20px ;
	background-image: url(../images/minus20.png) ;
}

.addButton.z-button-os {
	border: none ;
	float: right ;
	width: 20px ;
	height: 20px ;
	background-image: url(../images/plus20.png) ;
}

.userInfo {
	position:absolute;
	top:40px;
	right:10px;
	color:#fefefe;
	z-index:2;
	width:auto;
	height: 40px; 
	color: #444444;
	font-family: Verdana ;
	font-size: 1.0em;
	
}

.userInfo .z-label {
	
	color: #eeeeee;
	
}

.tiles{
	
	display: block;
	width: 100% ;
	height: 100% ;
}

.tilesRow{
	display: block ;
	width: 100% ;
}


.tilesInside {
	
	display: block ;
	width: 100%;
	height: 100% ;
	padding: 10px 10px 10px 10px ;
	
}

.tileButton{
	display: inline ;
	position: relative ;
	
	margin: 15px 15px 15px 15px ;
	width: 150px ;
	height: 120px ;
	
	background: none ;
	
	-webkit-box-shadow: 2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	-moz-box-shadow:    2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	box-shadow:         2px 3px 8px 0px rgba(50, 50, 50, 0.68);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.listMenu {
	
	width: 100%;
	height: 30px ;
	padding-top: 6px;
	text-align: right ;
	background-image: url(../images/headbg.jpg) ;
	background-repeat: repeat-x;
	opacity: 0.8 ;
}

.searchMenu{
	display: inline-table;
	width: 100% ;
	height: 75px ;
	background-image: url(../images/searchpanel.jpg) ;
	background-repeat: repeat-x ;
	
}

.z-vbox.search {
	
	display: inline-table;
	padding: 3px 6px 0px 3px ;
	background: none ;
}

.menu {
	position: absolute ;
	z-index:1 ;
	top:7px ;
	right:5px ;
	display: block ;
	width:auto;
	height: 46px ;
	border-radius: 11px;
	-moz-border-radius: 11px;
	
}

 .z-menubar-hor.mainMenu {
	background-image: url(../images/menubar.jpg) ;
	background-repeat: repeat-x ;
	border-radius: 6px;
	-moz-border-radius: 6px;
	
	
}
 .mainMenu .z-menuitem .z-menuitem-btn{
	
	font-family:Verdana ;
	font-size: 1.2em;
	color: #eeeeee;
	
}

.z-menubar-hor.subMenu  {
	background: none ;
	background-image: url(../images/submenubar.jpg) ;
	background-repeat: repeat-x ;
	height: 21px ;
	border-bottom:none ;
	width:auto;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

.z-menubar-ver.subMenu  {
	background: none ;
	background-image: url(../images/submenubar.jpg) ;
	background-repeat: repeat ;
	height: auto ;
	border-bottom:none ;
	width:180px;
	border-radius: 6px;
	-moz-border-radius: 6px;
}

h1{
	
	font-family:Verdana;
	color:#454545;
	text-shadow: 2px 2px #aaaaaa;
	
}


 .subMenu .z-menuitem .z-menuitem-btn  {
	
	font-family:Verdana ;
	font-size: 1.0em;
	color: #eeeeee;
	
}

.z-panel-tl{
	background:none ;	
}

.z-panel-tr{
	background:none ;	
}

.z-panel-hl{
	background:none ;	
	background-color: #A5738C ;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.z-panelchildren {
	
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.z-panel-hr{
	background:none ;	
}

.z-panel-hm {
	
	background:none ;
}

.z-caption {

	
	font-family: Verdana;
	
	color: #eeeeee;
	
	
}

.z-caption .z-caption-l{
	
	font-size: 1.4em;
	
}

.z-caption .z-caption-r{
	
	font-size: 1.4em;
}

.content{
	display: block ;
	width: 100% ;
	height: 500px ;
	background-color: #e3f3f3;
	
	
}


.wizardSteps {
	
	display: block ;
	width: 100% ;
	marging: 0 auto ;
	height: 100px ;
	display: table ;
	
}

.wizardSteps .wizardStep {
	display:table-cell ;
	width: 100px;
	height: 95px ;
	margin: 0 auto ;
	text-align: center ;
	vertical-align: middle ;
}

.wizardSteps .active {
	width: 50px ;
	height: 50px ;
	background-image: url(../images/active.png) ;
	margin: 0 auto ;
}

.wizardSteps .inactive {

	width: 50px ;
	height: 50px ;
	background-image: url(../images/inactive.png) ;
	margin: 0 auto ;
}

.categoriesMenu {
	
	display: block ;
	width: 25% ;
	height: 90%;
	float: left ;
	
}

.leftMenu{
	display: block ;
	width: 15% ;
	height: 90%;
	float: left ;
	
}

.leftContent{
	display: block ;
	width: 35% ;
	height: 90%;
	float: left ;
	
}

.rightContent{
	display: block ;
	width: 65% ;
	height: 90%;
	float: right ;
	
}

.categoryDiv{
	width: auto ;
	height: auto ;
	overflow: hidden ;
	font-size: 1.2em;
}

.categoryDesc{
	display: block ;
	width: 100% ;
	font-size: 0.6em;
	
}

.categoryName{
	display: block ;
	font-weight: bold; 
	width: 100% ;
}

.otherContent{
	
	display: block ;
	width: 80% ;
	height: 90%;
	float: right ;
	
}

div .z-tree {
	border: none ;
}

.z-button .z-button-cm{
	background: none ;
	background-image: url(../images/button.jpg) ;
	background-repeat: repeat-x ;
	font-size: 1.1em;
	font-weight: bold ;
	color: #fefefe;
}


div.z-tree-header tr.z-treecols, div.z-tree-header tr.z-auxhead {
	height:20px;
	background-image: url(../images/menubar.jpg) ;
	background-repeat: repeat-x ;
	
	
}

div.z-treefooter-cnt, div.z-treecol-cnt {
	color: #dedede;

	font-size: 1.0em;
	text-shadow: 2px 2px #676767;
	height:20px;
}

.z-tree-header.z-treecol{

}

.z-tree-header.z-treecols{
	;
}

.z-tree-header {
	
	
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.z-button{
	
	height: 32px ;
}

.z-label{
	color:#444444;
	
}

.asLink.z-label {
	
	color: #7a6194 ;
	text-decoration: underline ;
	cursor: pointer ;
}

.footer.z-label{
	
	font-size: 0.8em;
	font-style: italic ;
	
}

.auctionsList.z-grid {
	border: none ;
	padding: 0 0 0 5px ;
}

.auctionsList.z-grid .z-column{
	border:none ;
}

.z-groupbox-cnt{
	
	background: none;
	
	
}

tr.z-row td.z-row-inner{
	
	
	
}

.homeinfo{
	
	display: block ;
	width: 450px ;
	height: 400px;
	float: left ;
	
}

.loginform{
	
	display: block ;
	width: 350px ;
	height: 500px ;
	float: right ;
	
	
}

.additional{
	
	display: block ;
	width: 100% ;
	height: 120px ;

	
}

.footer{
	
	display: block ;
	width: 100%;
	height: 40px ;
	
	
}



.z-tree-ico.z-tree-root-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-root-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-tee-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-tee-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-last-close {
	display: none ;
	background: none ;
	
}


.z-tree-ico.z-tree-last-open {
	display: none ;
	background:none ;
}

.z-tree-ico.z-tree-firstspacer{
	
	display: none ;
}

.z-tree-line.z-tree-spacer{
	display: block;
	float: left ;
	width:10px;
	
}

.z-tree-line.z-tree-last {
	display: none;
	
}


.z-tree-line.z-tree-tee {
	display: none;
	
}

.z-tree-line.z-tree-vbar {
	display: block;
	float: left ;
	width:20px;
	
}

.z-tree-row.z-tree-row-seld{
	
	margin-left:5px ;
}

tr.z-tree-row td.z-tree-row-focus{
	
	background:none ;
}

div.z-treecell-cnt {
	white-space: nowrap;
}


.TFtable{
		width:100%; 
		border-collapse:collapse; 
		padding: 5px 5px 5px 5px ;
	}
	.TFtable td{ 
		padding:7px; border:none;
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.TFtable tr{
		background: #b8d1f3;
	}
	/*  Define the background color for all the ODD background rows  */
	.TFtable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.TFtable tr:nth-child(even){
		background: #dae5f4;
	}
	
	
.galleryView {
	
	display: block ;
	position: relative ;
	float: left ;
	width: 600px ;
	height: 550px ;
	border: 1px solid #333333;
	
}	

.mainView {
	
	display:table-cell;
   vertical-align:middle;
	background-color: #555555;
	opacity: 0.8;
	width: 600px ;
	height: 450px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	padding: 0px 5px 0px 5px ;
	text-align:center ;
}

.thumbView {
	display: block ;
	width: 600px ;
	height: 100px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	background-color: #222222;
	opacity: 0.9;
}

.overflowThumbs{
	
	display: block ;
	
	height: 100px ;
	border: 1px solid #999999;
	margin: 0 auto ;
	background-color: #222222;
	opacity: 0.9;
	
}

.galleryPrevious.z-button-os {
	
	position: absolute ;
	width: 90px ;
	height: 450px ;
	top: 1px;
	left:1px ;
	z-index: 1 ;
	opacity: 0.3 ;
	background-color: #555555;
	color: #cecece;
	font-size: 1.2em;
}

.galleryNext.z-button-os{
	
	position: absolute ;
	width: 90px ;
	height: 450px ;
	top: 1px;
	left:570px ;
	z-index: 1 ;
	opacity: 0.3 ;
	color: #cecece;
	font-size: 1.2em;
	background-color: #555555;
	
}

.galleryOverflow{
	display: table-cell ;
	vertical-align: middle ;
	text-align: center ;
	position: fixed ;
	top:1px;
	left:1px;
	width:100% ;
	height:100% ;
	opacity: 0.96;
	z-index:1 ;
	background-color: #222;
	overflow: hidden ;
	
}

.overflowClose.z-button-os {
	display: block ;
	position: absolute ;
	width: 17px ;
	height: 17px ;
	color: #ededed;
	background-color: #333;
	opacity: 0.9 ;
	top: 10px ;
	left:98% ;
	z-index:2 ;
}

.AuctionInfoPanel {
	
	display: block;
	position: relative ; 
	width: 350px ;
	float: right ;
	
	
}

.bidHistory{
	
	
	
}

.auctionDetails {
	
	
}

.divCaptionOuter{
	background-color: #d4c3cb ;
	width:100% ;
	height:auto ;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.pageFooter{
	
	width:100% ;
	height:30px ;
	background-color: #a5738c;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}
.pageFooter .inner {
	width: 100% ;
	color: #ededed;
	text-align: center ;
	padding: 3px 15px 3px 15px ;
	
}

.inner .z-label {
	color: #ededed;
	padding: 0 15px 0 15px ;
	cursor: pointer ;
}



.divCaption {
	
	width: 95% ;
	height: 30px ;
	
	background-color: #eeeeee ;
	border: 1px solid #cacaca;
	padding: 3px 1% 3px 1% ;
	margin: 0 auto ;
	
	
}

.divCaption .z-label{
	
	font-size: 1.2em;
	color: #999;
}

.smallLabel.z-label {
	font-size: 0.8em ;
}

.strongLabel.z-label{
	font-size: 1.2em;
	font-weight: bold ;
}

.normalLabel.z-label{
	font-size: 0.8em;
	font-weight: bold ;
}

.breadCrumbItem.z-label {
	
	color: #3e1b61 ;
	cursor: pointer ;
	padding:0px 4px 0px 4px ;
	
	}
	

	
.breadCrumbItemActive.z-label {
	
	color: #3e1b61 ;
	cursor: pointer ;
	font-weight: bold ;
	padding:0px 4px 0px 4px ;
	
	}	

.mainImg.z-image{
	
	
	z-index: 1 ;
	
	margin: 0 auto ;
	
}
.mainImg {
	
}

.thumbImg.z-image {
	padding: 5px 5px 0px 5px;
}

