body {
	
	
	background-color: #9975ff ;
	
}

.z-vlayout-inner .header {}

.logo{
	display: block ;
	width: 350px;
	height: 140px ;
	float: left; 
}

.headerinfo{
	
	display: block;
	width: 450px ;
	height: 140px ;
	float: right ;
	text-align: right ;
	
}

.z-vlayout-inner .menu{
	
	display: block ;
	width:100%;
	height: 40px ;
	background-color: #dedede;
	
}

.z-vlayout-inner .content{
	display: block ;
	width: 100% ;
	height: auto ;
	
	
}

.homeinfo{
	
	display: block ;
	width: 450px ;
	height: 100%;
	float: left ;
}

.loginform{
	
	display: block ;
	width: 350px ;
	height: 100% ;
	float: right ;
	
}

.z-vlayout-inner .additional{
	
	display: block ;
	width: 100% ;
	height: 120px ;
	
}

.z-vlayout-inner .footer{
	
	display: block ;
	width: 100%;
	height: 40px ;
	background-color: #121212;
	
}

