<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory name="sessionFactory">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">krzaq666</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/metalscrap</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property> -->
		<property name="hibernate.show_sql">true</property>
		<mapping class="pl.krzaq.metalscrap.model.Address" />
		<mapping class="pl.krzaq.metalscrap.model.Auction" />
		<mapping class="pl.krzaq.metalscrap.model.AuctionStatus" />
		<mapping class="pl.krzaq.metalscrap.model.Commodity" />
		<mapping class="pl.krzaq.metalscrap.model.CommodityCatalogue" />
		<mapping class="pl.krzaq.metalscrap.model.CommodityType" />
		<mapping class="pl.krzaq.metalscrap.model.Company" />
		<mapping class="pl.krzaq.metalscrap.model.CompanyOffer" />
		<mapping class="pl.krzaq.metalscrap.model.ContactsCatalogue" />
		<mapping class="pl.krzaq.metalscrap.model.PkdClassification" />
		<mapping class="pl.krzaq.metalscrap.model.DeliveryType" />
		<mapping class="pl.krzaq.metalscrap.model.PaymentMethod" />
		<mapping class="pl.krzaq.metalscrap.model.User" />
		<mapping class="pl.krzaq.metalscrap.model.Role" />
		<mapping class="pl.krzaq.metalscrap.model.Category" />
		<mapping class="pl.krzaq.metalscrap.model.Config" />
		<mapping class="pl.krzaq.metalscrap.model.AttachementFile" />
		<mapping class="pl.krzaq.metalscrap.model.UserOffer" />
		<mapping class="pl.krzaq.metalscrap.model.LangLabel" />
		<mapping class="pl.krzaq.metalscrap.model.Property" />
		<mapping class="pl.krzaq.metalscrap.model.PropertyAttribute" />
		<mapping class="pl.krzaq.metalscrap.model.PropertyAttributeValue" />
	</session-factory>
	</hibernate-configuration>
